<%= render "shared/header" %>

  <div class="article-new-btn">
    <h1 class="prefecture-name"><%= @prefecture.name %></h1>
    <div class="new-btns">
      <%= link_to '新規投稿する', new_article_path, class: "new-btn" %>
      <%= link_to '戻る', root_path, class: "back-article-btn" %>
    </div>
  </div>

  <div class="show-container">
    <% if @articles.any? %>
      <ul class='show-item-lists'>
        <% @articles.each do |article| %>
          <li class='show-list'>
            <div class="article-top-title">
              <div class="show-article-title">
                <%= article.title %>
              </div>
            </div>

              <div class="swiper-container">
                <div class= "swiper-wrapper img-index">
                  <% article.images.each do |image| %>
                  <%= image_tag image, class: "swiper-slide index-img" %>
                  <% end %>
                </div>
                <div class="swiper-button-prev swiper-button-white"></div>
                <div class="swiper-button-next swiper-button-white"></div>
                <div class="swiper-pagination"></div>
              </div>
            

            <div class="article-sub">
              <div class="field">
                <strong class="strong">チェックイン日:</strong>
                <div class="article-container">
                  <%= article.check_in %>
                </div>
              </div>
              <div class="field">
                  <strong class="strong">チェックアウト日:</strong>
                <div class="article-container">
                  <%= article.check_out %>
                </div>
              </div>
              <div class="field">
                <strong class="strong">パートナー:</strong>
                <div class="article-container">
                  <%= article.partner.name %>
                </div>
              </div>
            </div>

            <div class="field">
              <strong class="strong">宿泊先:</strong>
              <div class="article-hotel">
                <%= article.hotel %>
              </div>
            </div>

            <div class="field">
              <strong class="strong">見どころ:</strong>
              <div class="article-content">
                <%= article.content %>
              </div>
            </div>
            <div class="article-nickname">
              <%= article.user.nickname %> さん
            </div>  
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>[ 投稿記事はありません。記事を投稿してみましょう！]</p>
      <li class='show-list'>
        <div class="article-top-title">
          <div class="show-article-title">
            サンプル(場所)
          </div>
        </div>

        <div class="swiper-container">
          <div class= "swiper-wrapper img-index">
            <%= image_tag '1603887_s.jpg', class: 'swiper-slide' %>
            <%= image_tag 'photo0000-1903.jpg', class: 'swiper-slide' %>
            <%= image_tag 'photo0000-6517.jpg', class: 'swiper-slide' %>
          </div>
          <div class="swiper-button-prev swiper-button-white"></div>
          <div class="swiper-button-next swiper-button-white"></div>
          <div class="swiper-pagination"></div>
        </div>

        <div class="article-sub">
          <div class="field">
            <strong class="strong">チェックイン日:</strong>
            <div class="article-container">
              2022-12-02
            </div>
          </div>
          <div class="field">
              <strong class="strong">チェックアウト日:</strong>
            <div class="article-container">
              2022-12-4
            </div>
          </div>
          <div class="field">
            <strong class="strong">パートナー:</strong>
            <div class="article-container">
              友達
            </div>
          </div>
        </div>

        <div class="field">
          <strong class="strong">宿泊先:</strong>
          <div class="article-hotel">
            ホテル
          </div>
        </div>

        <div class="field">
          <strong class="strong">見どころ:</strong>
          <div class="article-content">
            （例）夜景が綺麗だった。そんなに混んでなかった。
          </div>
        </div>
        <div class="article-nickname">
          サンプル さん
        </div>  
      </li>
    <% end %>
    <div class="new-btns">
      <%= link_to '戻る', root_path, class: "back-article-btn" %>
    </div>
    <div class="space"></div>
  </div>
 
<%= render "shared/footer" %>



