<%= render "shared/header" %>

  <div class="article-new-btn">
    <h1 class="prefecture-name"><%= @prefecture.name %></h1>
    <div class="new-btns">
      <%= link_to '新規投稿する', new_article_path, class: "new-btn" %>
      <%= link_to '戻る', root_path, class: "back-article-btn" %>
    </div>
  </div>
  <div class="container">
    <% if @articles.any? %>
      <ul class='item-lists'>
        <% @articles.each do |article| %>
          <li class='list'>
            <div class="article-top-title">
              <div class="article-title">
                <%= article.title %>
              </div>
              <div class="article-nickname">
                <%= article.user.nickname %> さん
              </div>
            </div>

              <div class="img-upload">
                <%= image_tag(article.image, :size =>'500x700') if article.image.attached? %>
              </div>

              <div class="article-sub">
                <div class="field">
                  <strong class="strong">チェックイン日:</strong>
                  <div class="article-container">
                    <%= article.check_in %>
                  </div>
                </div>
                <div class="field">
                   <strong class="strong">チェックアウト日:</strong>
                  <div class="article-container">
                    <%= article.check_out %>
                  </div>
                </div>
                <div class="field">
                  <strong class="strong">パートナー:</strong>
                  <div class="article-container">
                    <%= article.partner.name %>
                  </div>
                </div>
              </div>

                <div class="field">
                  <strong class="strong">見どころ:</strong>
                  <div class="article-content">
                    <%= article.content %>
                  </div>
                </div>
            </li>
      <% end %>
        </ul>
    <% else %>
      <p>No travel articles available.</p>
    <% end %>
  </div>
  
<%= render "shared/footer" %>



